h1 {
  font-size: 1em;
  line-height: 40px;
  display: block;
  height: auto;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  background: #ddd;
}

.figure1 {
  grid-area: 1 / 1 / 4 / 3;
  background: orange;
}
.figure2 {
  grid-area: 1 / 3 / 6 / 5;
  background: red;
}
.figure3 {
  grid-area: 1 / 5 / 3 / 7;
  background: blue;
}
.figure4 {
  grid-area: 1 / 7 / 5 / 9;
  background: green;
}
.figure5 {
  grid-area: 4 / 1 / 7 / 3;
  background: yellow;
}
.figure6 {
  grid-area: 6 / 3 / 9 / 5;
  background: black;
}
.figure7 {
  grid-area: 3 / 5 / 7 / 7;
  background: purple;
}
.figure8 {
  grid-area: 5 / 7 / 9 / 9;
  background: #ccc;
}
.figure9 {
  grid-area: 7 / 1 / 9 / 3;
  background: #eee;
}
.figure10 {
  grid-area: 7 / 5 / 9 / 7;
  background: #ddd;
}

.figure11 {
  grid-area: 9 / 1 / 10 / 9;
}
